<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Parking Manager</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/style.css" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="js/lib/html5.js"></script>
	<![endif]-->
	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
	<script type="text/javascript" src="js/lib/jquery-ui.js"></script>
	-->
	<script type="text/javascript" src="js/lib/jquery.js"></script>
	<script type="text/javascript" src="js/lib/jquery-ui.js"></script>
	<script type="text/javascript" src="js/lib/modernizr-2.0.6.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/lib/selectivizr.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/lib/prefixfree.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<header>
		<h1>parking manager</h1>
	</header>
	<div id="content">
	<section id="login">
		<h3>Ingreso al sistema</h3>
		<form id="form_login">
			<fieldset>
			<p>
			<label for="user">Nombre de usuario</label>
			<input type="text" id="user" class="text" required/>
			</p>
			<p>
			<label for="pass">Contrase&ntilde;a</label>
			<input type="password" id="pass" class="text" required/>
			</p>
			<p>
			<input type="submit" value="Iniciar sesi&oacute;n" class="button"/>
			</p>
			</fieldset>
		</form>
	</section>
	</div>
	<footer>
		&copy; Copyright ParkingMgr 2011
	</footer>
</body>
</html>