<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Parking Manager</title>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/lib/jquery.js"></script>
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/lib/selectivizr.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/normalize.css" />
	<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/lib/prefixfree.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<header>
		<h1>parking manager</h1>
	</header>
	<div id="content">
	<section id="menu">
		<ul>
			<a href="#"><li class="current"><p>Nuevo Ingreso</p></li></a>
			<a href="registrarpago.html"><li><p>Registrar Pago</p></li></a>
			<a href="generarreportes.html"><li><p>Generar reportes</p></li></a>
			<li id="salir"><p>Salir</p></li>
		</ul>
	</section>
	<section id="contenido">
		<form id="ingresovehiculo">
			<fieldset>
			<p>
			<label for="placa">Placa veh&iacute;culo</label>
			<input type="text" id="placa" class="text" maxlength="10" required autofocus/>
			</p>
			<p>
			<label for="tipo_vehiculo">Tipo de veh&iacute;culo</label>
			<select id="tipo_vehiculo">
				<option value="CARRO">Carro</option>
				<option value="MOTO">Moto</option>
				<option value="BICICLETA">Bicicleta</option>
			</select>
			</p>
			<p>
			<label for="propietario">Nombre del propietario</label>
			<input type="text" id="propietario" class="text" required/>
			</p>
			<p>
			<label for="id_propietario">C&eacute;dula del propietario</label>
			<input type="number" id="id_propietario" class="text" maxlength="20" required/>
			</p>
			<p>
			<label for="tel_propietario">Tel&eacute;fono del propietario</label>
			<input type="number" id="tel_propietario" class="text" maxlength="15" required/>
			</p>
			<p>
			<label for="tiempo">Tiempo</label>
			<input type="number" id="tiempo" class="text" required/>
			</p>
			<p>
			<label for="und_tiempo">Unidades de tiempo</label>
			<select id="und_tiempo">
				<option>Minutos</option>
				<option>Horas</option>
				<option>Días</option>
				<option>Meses</option>
			</select>
			</p>
			<p>
			<input type="submit" value="Guardar" class="button" />
			<input type="button" value="Cancelar" class="button" id="btncancelar"/>
			</p>
			</fieldset>
		</form>
	</section>
	</div>
	<footer>
		&copy; Copyright ParkingMgr 2011
	</footer>
</body>
</html>