@font-face {
    font-family: 'XenophoneRegular';
    src: url('fonts/xenophone-webfont.eot');
    src: url('fonts/xenophone-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xenophone-webfont.woff') format('woff'),
         url('fonts/xenophone-webfont.ttf') format('truetype'),
         url('fonts/xenophone-webfont.svg#XenophoneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlaytimeWithHotToddiesRegular';
    src: url('fonts/playtime-webfont.eot');
    src: url('fonts/playtime-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playtime-webfont.woff') format('woff'),
         url('fonts/playtime-webfont.ttf') format('truetype'),
         url('fonts/playtime-webfont.svg#PlaytimeWithHotToddiesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background: #04819e;
	font-family: Helvetica, Arial;
	font-size: 16px;
	margin: 0;
	text-align: center;
}

div.totales{
	display: block;
	margin: 0 auto;
	height: auto;
	width: 100%;
}

div.totales p{
	margin: 0 auto;
}

fieldset{
	border: 0;
	text-align: left;
}

footer, header, #content{
	background: #fff;
	behavior: url(PIE.htc);
	border-radius: 0.5em;
	display: block;
	margin: 1em auto;
	padding: 1em;
	width: 80%;
}

footer{
	background: #030c21;
	color: #fff;
}

h2,.subtitle{
	color: #fff;
	font-family: 'PlaytimeWithHotToddiesRegular','Arial';
}

h3{
	margin: 0;
}

header{
	background: url('../images/park1.png');
}

header h1{
	behavior: url(PIE.htc);
	color: #fff;
	font-family: 'XenophoneRegular','Arial';
	font-size: 3em;
	text-shadow: rgba(0,0,0,0.5) 0px 8px 10px; 
}

hr{
	border: solid 1px #033e6b;
	width: 95%;	
}

input.button, #menu li, #menu li.current:hover{
	background: #033e6b;
	behavior: url(PIE.htc);
	border-radius: 10px;
	box-shadow: rgba(7,29,112,0.8) 0px 5px 10px;	
	color: #fff;
	cursor: pointer;
	margin: 1em;
	padding: 3px 4px 3px 4px;
	text-shadow: rgba(0,0,0,0.9) 0px 24px 16px; 
}

input.button{
	behavior: url(PIE.htc);
	border: 0;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 7px;
	margin: 1em;
	width: 40%;
}

input.button:hover{
	font-weight: bold;
}

input.text, select{
	behavior: url(PIE.htc);
	border:solid 1px #999;
	border-radius: 3px;
	padding: 7px 8px 7px 8px;
	width: 95%;
}

input.text{
	font-size: 16px;
	font-weight: bold;
}

input.error{
	background: rgb(254,218,218);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZGFkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZlYzJjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmE1YTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(254,218,218,1) 0%, rgba(254,194,194,1) 63%, rgba(255,165,165,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,218,218,1)), color-stop(63%,rgba(254,194,194,1)), color-stop(100%,rgba(255,165,165,1)));
	background: -webkit-linear-gradient(top,  rgba(254,218,218,1) 0%,rgba(254,194,194,1) 63%,rgba(255,165,165,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,218,218,1) 0%,rgba(254,194,194,1) 63%,rgba(255,165,165,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,218,218,1) 0%,rgba(254,194,194,1) 63%,rgba(255,165,165,1) 100%);
	background: linear-gradient(top,  rgba(254,218,218,1) 0%,rgba(254,194,194,1) 63%,rgba(255,165,165,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedada', endColorstr='#ffa5a5',GradientType=0 );
	}

table{
	background: #fff;
	margin: 1em auto;
	width: 95%;
}


ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.subtitle{
	font-size: 19px;
}

#content section{
	display: inline-block;
	margin: 1em;
	vertical-align: top;
}

#content{
	behavior: url(PIE.htc);
	box-shadow: rgba(0,0,0,0.5) 2px 2px 15px inset;
}

#content #menu{
	width: 20%;
}

#content #contenido{
	background: #04819e;
	behavior: url(PIE.htc);
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.8) 0px 8px 10px; 
	width: 70%;
}

#content #contenido label{
	behavior: url(PIE.htc);
	color: #fff;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) 0px 8px 10px; 
}

#formpago{
	display: none;
}

#menu a{
	color: #fff;
	text-decoration: none;
}

#menu a:hover{
	color: #000;
}

#menu li.current{
	background: #04819e;
}

#menu li.current:hover{
	behavior: url(PIE.htc);
	background: #04819e;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
}

#menu li:hover{
	background: #ffda00;
	behavior: url(PIE.htc);
	box-shadow: rgba(0,0,0,0.8) 0px 5px 10px;
	color: #000;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

#msgs{
	display: none;
	border-radius: 6px;
	behavior: url(PIE.htc);
	height: auto;
	margin: 1em auto;
	width: 95%;
}

#msgs p{
	font-size: 13px;
	font-weight: bold;
}

#msgs.error{
	border: 1px solid red;
	background: #ff9e9e;
	display: block;
}

#msgs.ok{
	border: 1px solid green;
	background: #9cff76;
	display: block;
}

#param_busqueda{
	width: 30%;
}

#reporte{
	display: none;
}

#resultados{
	display: none;
	margin: 0 auto 1em auto;
	width: 95%;
}

#resultados table tr:first-child, #reporte table tr:first-child{
	background: #000;
	color: #fff;
}

#resultados h2{
	color: #e17009;
}

#resultados table tr:nth-child(even),#reporte table tr:nth-child(even){
	background: #85b5d9;
}

